.d-flex{
    background-color: black;
}


/* About Us CSS  */

.banner h1{
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 40px;
    width: 100%;
    height: 500px;
    text-align: center;
    font-weight: 700;
    text-align-last: center;
    font-family: sans-serif;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-shadow: 50px black;
    background-color: rgba(45, 43, 43, 0.826);
    background-blend-mode:multiply;
    
}

.carousel-caption p {
    font-size: 20px;
    
}


.WelcomePara p{
    margin-left: 25px;
    font-family: 'Gill Sans MT';
    font-size: 18px;
    font-weight: 300;
}
.WelcomePara h3{
    font-family: Impact;
    color: red;
}


.MissionPara {
    padding-left: 70px;
}

.MissionPara p{
    margin-left: 30px;
    font-family: 'Gill Sans MT';
    font-size: 20px;
    font-weight: 300;
}

.MissionPara h3{
    font-family: Impact;
    color: red;
}


.TeamPara p{
    margin-left: 25px;
    font-family: 'Gill Sans MT';
    font-size: 18px;
    font-weight: 300;
}



.TeamPara h3{
    font-family: Impact;
    color: red;
}

/* FAQ CSS */

.buttn button{
    align-items: center;
    align-self: center;
}
 .border {
    border-radius: 20px;
    border-color: rgb(255, 0, 0);
 }

 .border h5{
    font-style:unset;
    font-size: 16PX;
    font-weight:bold;
    color: rgb(255, 38, 0);
    text-align: center;
 }

 .fq1 p{
    font-weight: 500;
    margin-top: 5px;
    font-family: 'Times New Roman' ;
    text-align: center;
 }

 /*Privacy & Policy  */

 .PpContent {
    text-align: center;
    color: black;
    font-weight: 500;
 }

 .ppheader {
    color: red;
    text-align: center;
 }