.d-flex{
    background-color: black;
}

.collection01 h2 {
    font-size: 30px;
    font-weight: 600;
    font-family:Georgia;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-shadow: 2px black;
    background-color: rgba(89, 85, 85, 0.826);
    background-blend-mode:multiply;
    width: 50%;
    margin-left: 26%;
    border-radius: 20px;
}

.card {
    width: fit-content;
    height:95%;
}


/* sales CSS */
.banner h1{
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 40px;
    width: 100%;
    height: 500px;
    text-align: center;
    font-weight: 700;
    text-align-last: center;
    font-family: sans-serif;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-shadow: 50px black;
    background-color: rgba(45, 43, 43, 0.826);
    background-blend-mode:multiply;
    
}

.headpara h2{
    font-weight: 700;
    color: red;
    font-style: italic;
}

.discount-badge {
    content: "40% OFF";
    position: absolute;
    top:50px;
    left: 25px;
    padding: 2px 15px;
    background-color: #f00; /* Adjust the background color as needed */
    color: #fff;
    font-weight: bold;
    transform: translate(-50%, -50%) rotate(-360deg); /* Center the badge and rotate  */
    z-index: 1; /* Ensure the badge is on top of the card content */
    border-radius: 2px;
  }

  .CFeatures h5{
    color:red;
    font-weight: 700;
    text-align: center;
}

.CFeatures p{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
  